extends layout 

block content 
  h1.text-center=title 

  h2=manufacturer.name

  .mb-2 
    a.btn.btn-primary.me-2(href=manufacturer.url + '/update') Update manufacturer 
    a.btn.btn-danger(href=manufacturer.url + '/delete') Delete manufacturer

  .row
    each item in items
      .col-sm-auto.mb-3.w-100
        .card.h-100.d-flex.flex-column.justify-content-space-between 
          .card-body 
            h5.card-title.text-primary #{item.name}
            p.card-text Price: $#{item.price}
            p.card-text Stock: #{item.number_in_stock}
            a.btn.btn-primary(href=item.url) Details
    
    else 
      p This manufacturer has no items.
