extends layout 

block content 
  h1=title 

  h2=manufacturer.name

  ul 
    each item in items
      li
        p
          a(href=item.url) #{item.name}
        p Category: #{item.category.name}
        p #{item.description} 
        p Price: $#{item.price % 1 === 0 ? item.price + '.00' : item.price}
    
    else 
      p This manufacturer has no items.
  
  a(href=manufacturer.url + '/update') Update 
  | 
  a(href=manufacturer.url + '/delete') Delete 